@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    background-color: theme('colors.background');
    color: theme('colors.text');
  }
}